body {
    background-color: #121213;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    user-select: none;
}

.heading {
    color: white;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 100vh;
}

.board {
    height: 360px;
    width: 300px;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(5, auto);
    row-gap: 6px;
    column-gap: 6px;
}

.letterCell {
    padding: 0;
    margin: 0;
    height: 50px;
    width: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #121213;
    border: 2px solid #3a3a3c;
    color: white;
    font-weight: 500;
}

.green{
    background-color: #538d4e !important;
    color: white;
    border-color: #538d4e;
}

.yellow{
    background-color: #b59f3b !important;
    color: white;
    border-color: #b59f3b;
}

.gray{
    background-color: #3a3a3c !important;
    color: white;
    border-color: #3a3a3c;
}

.keyboard {
    margin-top: 1.8rem;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.keyboardRow {
    display: inline-block;
    max-width: 100%;
}

.letterKey {
    background-color: #818384;
    color: white;
    padding: 0.9em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-weight: 500;
    margin: 2.2px;
}

@media only screen and (max-width: 768px) {
    .letterKey{
        background-color: #818384;
        color: white;
        padding: 0.66em;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        font-weight: 500;
        margin: 1px;
    }
}